
version: "3.9"

services:
  nats:
    image: nats:2.10
    container_name: nats
    ports:
      - "4222:4222"
      - "8222:8222"

  backend:
    build: .
    container_name: async-backend
    ports:
      - "8000:8000"
    depends_on:
      - nats
    env_file:
      - .env
    volumes:
      - ./data:/app/data

